.bottom {
  background: $formBackColor;
  border: $borderColor 1px solid;
  margin-top: 20px;
  height: 70px;
  border-radius: $borderRadius;
  position: relative;
  display: flex;
  align-items: center;

  .field {
    @extend .field;
    width: 92% !important;
    margin-left: 20px !important;
    margin-top: 0 !important;
  }
}



